.menu-list{
  height: 100%;
  overflow: auto;
  position: relative;

  @mixin itemImg{
    border: 1px solid gray;
    display: block;
    width: 120px;
    min-width: 120px;
    height: 120px;
    border-radius: 10px;
    margin-right: 10px;
  }

  // 清單模式
  .list-mode{
    .menu-item {
      display: flex;
      padding: 10px;
  
      .item-img {
        @include itemImg();
      }
  
      .item-info {
        position: relative;
        width: 100%;
  
        .item-name {
          font-size: 18px;
          font-weight: 700;
        }
  
        .item-price {
          font-size: 18px;
          margin-top: 15px;
        }
  
        .add-icon {
          position: absolute;
          right: 0;
          bottom: 0;
          path {
            fill: var(--brand-color);
          }
        }
      }
  
    }
  }
  
  // 網格模式
  .grid-mode {
    padding: 5px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(120px, auto));
    
    .menu-item {
      padding: 5px;
      border: 1px solid gray;
      width: 130px;

      .item-img {
        @include itemImg();
      }

      .item-info {
        position: relative;
        width: 120px;

        .item-name {
          font-size: 1rem;
          font-weight: 700;
          height: 42px;
          margin-top: 5px;
        }

        .item-price {
          font-size: 1rem;
          margin-top: 5px;
        }

        .add-icon {
          position: absolute;
          right: 0;
          bottom: 0;
          padding: 0;
          margin: 0;
          path {
            fill: var(--brand-color);
          }
        }
      }
    }
  }

}



