// 提示訊息框
.notification{
  position: fixed;
  width: 250px;
  height: 96px;
  background-color: white;
  z-index: 999;
  top: 20px;
  left: calc( 50% - 125px);
  border-radius: 8px;
  box-shadow: 6px 6px 6px rgba(41, 41, 41, 0.08);
  display: flex;
  padding: 20px 24px;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--gray-2);

  .noti_text {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
  }

  .noti_icon {
    width: 56px;
    height: 56px;
    border: 3px solid gray;
    border-radius: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }

  .success_icon {
    border-color: var(--success-color);
    svg{
      path{
        fill: var(--success-color);
      }
    }
  }

  .error_icon {
    border-color: var(--error-color);
    svg {
      path {
        fill: var(--error-color);
      }
    }
  }

  .warning_icon {
    border-color: var(--warning-color);
    svg {
      path {
        fill: var(--warning-color);
      }
    }
  }

  .info_icon {
    border-color: var(--primary-color);
    svg {
      path {
        fill: var(--primary-color);
      }
    }
  }

}


// 頁面載入
.loading_wrapper{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 180px;

  h3{
    font-size: 20px;
  }

  .loading_icon {
    width: 25px;
    height: 25px;
    color: var(--secondary-color);
    fill: var(--secondary-color);

  }

  .loading-animation {
    animation: loading 1s infinite linear;
  }

  @keyframes loading {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

}


