.item-model{
  display: flex;
  justify-content: center;

  .gray-panel{
    background-color: rgba(50,50,50,0.5);
    position: fixed;
    display: block;
    z-index: 98;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  
  .model-panel{
    position: fixed;
    z-index: 100;
    display: block;
    background-color: white;
    width: 90vw;
    max-width: 800px;
    height: 85vh;
    top: 60px;
    margin: 0 10px;
    border-radius: 10px;
    padding: 0 30px;
  
    .model-header{
      position: relative;
      display: flex;
      justify-content: space-between;
      margin: 15px 0;

      .item-name{
        font-size: 2em;
      }

      .cancel-icon{
        border-radius: 20px;
        width: 30px;
        height: 30px;
        position: absolute;
        right: -25px;
        top: -15px;
        path{
          fill: var(--secondary-color);
        }
        &:hover {
          path {
            fill: var(--error-color);
          }
        }
      }
    }
    
    .model-body{
      text-align: center;
      height: calc(100% - 200px);
      overflow: auto;
      padding: 10px;
      
      img{
        border: 1px solid var(--gray-6);
        width: 100%;
        max-width: 410px;
        margin-bottom: 10px;
      }

      .item-description {
        font-size: 20px;
        text-align: left;
        margin: 10px 0;
      }

      .customization{
        border: 1px solid gray;
        padding: 5px;
        
        .option-div{
          display: grid;
          grid-gap: 10px;
          margin: 10px;
          grid-template-columns: repeat(auto-fill, minmax(120px, auto));
          
          .item-option{
            font-size: 1em;
            // margin: 10px;
            border: 1px solid gray;
            border-radius: 20px;
            padding: 8px 15px;
            cursor: pointer;
            // &:hover {
            //   border: 1px solid #ffae00;
            //   background-color: #ffae00;
            // }
          }
          .item-option-active{
            font-size: 1em;
            margin: 10px;
            border: 1px solid #ffae00;
            background-color: #ffae00;
            border-radius: 20px;
            padding: 8px 15px;
            cursor: pointer;
            // &:hover {
            //   border: 1px solid gray;
            //   background-color: gray;
            //   color: white;
            // }
          }
        }
      }
    }

    .model-footer{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 80px;
      margin-top: 10px;
      border-top: 1px solid gray;
      padding: 10px 0;

      .amount-option{
        display: flex;
        align-items: center; 

        .amount{
          font-size: 1.5em;
          line-height: 1.8em;
          width: 30px;
          text-align: center;
        }
        
        .icon{
          width: 30px;
          height: 30px;
        }
        .add-icon{
          path{
            fill: var(--brand-color);
          }
        }
        .minus-icon{
          path{
            fill: var(--error-color);
          }
        }

        .add-cart{
          background-color:var(--yellow-button-color);
          margin-left: 20px;
          font-size: 1.2em;
        }
      }
    }
  }
}