.item-model{
  
  .gray-panel{
    background-color: rgba(50,50,50,0.5);
    position: fixed;
    display: block;
    z-index: 98;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .model-panel{
    position: fixed;
    z-index: 100;
    display: block;
    background-color: white;
    width: 90vw;
    left: 5vw;
    top: 60px;
    border-radius: 10px;
    padding: 0 30px;
  
    .model-header{
      position: relative;
      display: flex;
      justify-content: space-between;
      margin: 15px 0;

      .item-name{
        font-size: 2.5em;
      }

      .cancel-icon{
        border-radius: 20px;
        width: 30px;
        height: 30px;
        position: absolute;
        right: -25px;
        top: -15px;
        path{
          fill: var(--secondary-color);
        }
        &:hover {
          path {
            fill: var(--error-color);
          }
        }
      }
      

    }
    
    .model-body{
      text-align: center;
      max-height: 60vh;
      overflow: auto;
      
      img{
        border: 1px solid var(--gray-6);
        width: 60%;
        margin-bottom: 10px;
      }

      .customization{
        border: 1px solid gray;
        
        .option-div{
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(100px, auto));

          span{
            font-size: 1em;
            margin: 10px;
            border: 1px solid gray;
            border-radius: 20px;
            padding: 8px 15px;
            cursor: pointer;
          }
        }
      }

    }

    .model-footer{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;
      border-top: 1px solid gray;
      padding: 10px 0;

      .amount-option{
        display: flex;
        align-items: center; 
        padding-right: 20px;

        .amount{
          font-size: 1.2em;
          line-height: 1.5em;
          width: 30px;
          text-align: center;
        }
        
        .icon{
          width: 30px;
          height: 30px;
        }
        .add-icon{
          path{
            fill: var(--brand-color);
          }
        }
        .minus-icon{
          path{
            fill: var(--error-color);
          }
        }

        .add-cart{
          background-color:var(--yellow-button-color);
          margin-left: 20px;
        }
      }
    }
  }
}