.menu-list{
  height: calc(100% - 50px);
  overflow: auto;

  // 清單模式
  .list-mode{
    .menu-item {
      display: flex;
      padding: 10px;
  
      .item-img {
        border: 1px solid gray;
        width: 100px;
        height: 100px;
        border-radius: 10px;
        margin-right: 10px;
      }
  
      .item-info {
        position: relative;
        width: 100%;
  
        .item-name {
          font-size: 18px;
          font-weight: 700;
        }
  
        .item-price {
          font-size: 18px;
          margin-top: 15px;
        }
  
        .add-icon {
          position: absolute;
          right: 0;
          bottom: 0;
          path {
            fill: var(--brand-color);
          }
        }
      }
  
    }
  }
  
  // 網格模式
  .grid-mode {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, auto));

    .menu-item {
      padding: 10px;

      .item-img {
        border: 1px solid gray;
        width: 150px;
        border-radius: 10px;
      }

      .item-info {
        position: relative;

        .item-name {
          font-size: 1rem;
          font-weight: 700;
        }

        .item-price {
          font-size: 1rem;
          margin-top: 15px;
        }

        .add-icon {
          position: absolute;
          right: 25px;
          bottom: 0;
          padding: 0;

          path {
            fill: var(--brand-color);
          }
        }
      }
    }
  }

}



