.notification {
  position: fixed;
  width: 250px;
  height: 96px;
  background-color: white;
  z-index: 999;
  top: 20px;
  left: calc(50% - 125px);
  border-radius: 8px;
  box-shadow: 6px 6px 6px rgba(41, 41, 41, 0.08);
  display: flex;
  padding: 20px 24px;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--gray-2);
}
.notification .noti_text {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}
.notification .noti_icon {
  width: 56px;
  height: 56px;
  border: 3px solid gray;
  border-radius: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.notification .success_icon {
  border-color: var(--success-color);
}
.notification .success_icon svg path {
  fill: var(--success-color);
}
.notification .error_icon {
  border-color: var(--error-color);
}
.notification .error_icon svg path {
  fill: var(--error-color);
}
.notification .warning_icon {
  border-color: var(--warning-color);
}
.notification .warning_icon svg path {
  fill: var(--warning-color);
}
.notification .info_icon {
  border-color: var(--primary-color);
}
.notification .info_icon svg path {
  fill: var(--primary-color);
}

.loading_wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 180px;
}
.loading_wrapper h3 {
  font-size: 20px;
}
.loading_wrapper .loading_icon {
  width: 25px;
  height: 25px;
  color: var(--secondary-color);
  fill: var(--secondary-color);
}
.loading_wrapper .loading-animation {
  animation: loading 1s infinite linear;
}
@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}