.content-body {
  position: fixed;
  top: 110px;
  width: calc(100% - 1px);
  height: calc(100% - 111px);
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.content-body .side-bar {
  grid-column: 1/2;
}
.content-body .main-content {
  grid-column: 2/5;
  height: 100%;
}